/* CSS cho thanh công cụ */
.navbar {
    background-color: #333;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar li a {
    color: #fff;
    text-decoration: none;
}

/* CSS cho phần xem chi tiết người dùng */
.user-details-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.user-details-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.user-details p {
    margin-bottom: 10px;
    color: #333;
}

.edit-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-btn:hover {
    background-color: #0056b3;
}
